<div class="welcome-message">
  <h1>Welcome Uncle Omar to my web application</h1>
  <h2>Created by Leonardo Arrieta</h2>
  <h3>Deje el proyecto en standBy por 2 semanas :(</h3>
  <h3>Ya que estuve haciendo otros proyectos backend, frontend, mobile y testeos de 3 cursos</h3>

  <h2 style="text-align: center">Click Articles on the Toolbar</h2>
  <br>  <br>
  <div class="astronaut-container">
    <img class="astronaut" src="https://cdni.iconscout.com/illustration/premium/thumb/astronaut-dancing-on-rocket-4278584-3550529.png?f=webp" alt="Astronauta">
  </div>
</div>
