.updateForm{
  margin: 30px;
}

.updateFormStructure{
  display: flex;
  flex-direction: column;
}

h1.mat-h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form.mat-elevation-z2 {
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

textarea.mat-input-element {
  min-height: 100px;
}

button {
  margin-top: 20px;
}
